@*/* Group:      8
   References: Liu, F (2021) Full C# Project: Supermarket Management System | ASP.NET Core Blazor, EF Core, SQL Server, Identity source code (Version 16) [Source code]. https://www.youtube.com/watch?v=DWrH7br4DsM&t=140s

 */*@

@page "/addvehicle"
@attribute [Authorize(Policy = "AdminOnly")]

@inject NavigationManager NavigationManager
@inject UseCases.IAddVehicleUseCase AddVehicleUseCase

<h3>Add Vehicle</h3>
<br />
@if (vehicle != null)
{
    <EditForm Model="vehicle" OnValidSubmit="OnValidSumit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="form-group">
            <label for="type">Type</label>
            <InputText id="type" @bind-Value="vehicle.Type" class="form-control"></InputText>
        </div>

        <div class="form-group">
            <label for="numberPlate">NumberPlate</label>
            <InputText id="numberPlate" @bind-Value="vehicle.NumberPlate" class="form-control"></InputText>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-primary" @onclick="OnCancel">Cancel</button>
    </EditForm>

}


@code {

    private Vehicle vehicle;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        vehicle = new Vehicle();
    }

    private void OnValidSumit()
    {
        AddVehicleUseCase.Execute(vehicle);
        NavigationManager.NavigateTo("/vehicles");
    }

    private void OnCancel()
    {
        NavigationManager.NavigateTo("/vehicles");
    }

}
